<h1>index</h1>
<a href="facebook">Protected url by Facebook: /facebook</a><br />
<a href="twitter">Protected url by Twitter: /twitter</a><br />
<a href="form">Protected url by form authentication: /form</a><br />
<a href="basicauth">Protected url by basic auth: /basicauth</a><br />
<a href="cas">Protected url by CAS: /cas</a><br />
<a href="saml2">Protected url by SAML2: /saml2</a><br />
<a href="oidc">Protected url by OpenID Connect: /oidc</a><br />
<br />
<a href="logout">logout</a>
<br /><br />
profile : {{profile}}
<br /><br />
<hr />

<a href="{{facebookUrl}}">Authenticate with Facebook</a><br />
<a href="{{twitterUrl}}">Authenticate with Twitter</a><br />
<a href="{{formUrl}}">Authenticate with form</a><br />
<a href="{{baUrl}}">Authenticate with basic auth</a><br />
<a href="{{casUrl}}">Authenticate with CAS</a><br />
<a href="{{samlUrl}}">Authenticate with SAML</a><br />
<a href="{{oidcUrl}}">Authenticate with OpenID Connect</a><br />
